* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 10px 0;
}

#root > * {
  margin: 20px 0px;
}

hr {
  height: 10px;
  background-color: #3fb984;
  border: 0.2px solid #31475e;
}

.esercizio {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.bonusimmagine {
  text-align: center;
}

.bonusinput {
  text-align: center;
}

.bonusinput > * {
  margin-top: 10px;
}

.bonusinput input {
  text-align: center;
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-bottom: 2px solid #7FFF00;
  font-size: 20px;
  animation-name: color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    border-bottom: 4px solid #17B169;
  }

  100% {
    border-bottom: 8px solid #1B4D3E;
  }
}

.bonusbutton {
  text-align: center;
}

.bonusbutton button {
  margin-top: 10px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  color: #ffff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
}

.bonusbutton button:hover {
  opacity: 0.8;
}


.black {
  color: black;
}

.green {
  color:  #4CAF50;
  font-size: 40px;
}
