* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 10px 10px;
}

#root > * {
  margin: 10px 0px;
}

hr {
  height: 10px;
  background-color: #3fb984;
  border: 0.2px solid #31475e;
}

.esercizio {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.bonusimmagine {
  text-align: center;
}

.bonusinput {
  text-align: center;
}

.bonusinput > * {
  margin-top: 10px;
}

.bonusinput input {
  text-align: center;
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-bottom: 5px solid #0868ab;
  font-size: 20px;
  animation-name: color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer
}

@keyframes color {
  0% {
    border-bottom: 3px solid #3fb984;
  }

  100% {
    border-bottom: 7px solid #31475e;
  }
}
